
@{
    Layout = null;
}

<!doctype html>
<html lang="zxx">

<html>

@await Html.PartialAsync("/Views/LayoutPartial/_Header.cshtml")

<body>

@await Html.PartialAsync("/Views/LayoutPartial/_NavBarPartial.cshtml")

@RenderBody()

  
@await Html.PartialAsync("/Views/LayoutPartial/_FooterPartial.cshtml")

@await Html.PartialAsync("/Views/LayoutPartial/_ScriptPartial.cshtml")

</body>

</html>